<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Action Points')"/>
    <script defer th:src="@{/js/sidebar.js}"></script>
    <script defer th:src="@{/js/forms/add_idea.js}"></script>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body class="bg-light">
<div th:include="fragments/header :: header"></div>
<div th:include="fragments/sidebar :: sidebar(ycId=1)"></div>
<div class="height-100 bg-light pt-4">
    <main class="container">
        <div class="row mb-2">
            <div class="col-md-6 m-auto pt-5">
                <div class="col mb-2 d-flex justify-content-center flex-column align-items-center bg-secondary rounded">
                <form id="submitForm" class="w-75">
                    <div class="form-group mt-5">
                        <label for="theme" class="text-white">Choose your theme</label>
                        <select class="form-control" id="theme">
                            <option>Theme</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <label for="description" class="text-white">What's your idea?</label>
                        <textarea class="form-control" id="description" placeholder="What needs to change?"></textarea>
                    </div>
                    <div class="form-group mt-3 mb-5">
                    <button type="submit" class="btn btn-primary ">Submit</button>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
