<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Dashboard</title>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Admin-Dashboard')"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
<link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <script defer th:src="@{/js/sidebar.js}"></script>
    <script defer th:src="@{/js/admin/webpages.js}"></script>
    <script defer th:src="@{/js/admin/manage_content.js}" type="module"></script>
</head>
<body class="mx-0">
<div th:include="fragments/yc-header :: youth-council-header"></div>
<div th:include="fragments/yc-sidebar :: youth-council-sidebar"></div>
<div class="p-3 h-100">
    <main class="container h-100 min-vh-100 mx-auto ">
        <div class="card column bg-light p-3">
            <div class="mx-auto">
                <h4>Manage Content</h4>
            </div>
            <div class="d-flex flex-row mt-3" id="button-container">
            </div>
            <div class="d-flex flex-row mt-3">
                <div class="d-flex flex-row mt-3 w-100">
                    <table class="table table-hover">
                        <thead id="table-header">

                        </thead>
                        <tbody id="content-container">
                        </tbody>
                    </table>
                </div>

        </div>

        </div>
    </main>
</div>
<div th:replace="~{fragments/ga-footer::general-admin-footer}"></div>
</body>
</html>
