<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Dashboard</title>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Admin-Dashboard')"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
<link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <script defer th:src="@{/js/sidebar.js}"></script>
    <script defer th:src="@{/js/admin/webpages.js}"></script>
</head>
<body >
<div th:include="fragments/yc-header :: youth-council-header"></div>
<div th:include="fragments/yc-sidebar :: youth-council-sidebar"></div>
<div class="pt-4 h-100">
    <main class="container h-100 min-vh-100 bg-light card">
            <table class="table table-hover" id="pages-table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Ideas</th>
                    <th scope="col">Activities</th>
                    <th scope="col">News</th>
                    <th scope="col">Election Info</th>
                    <th scope="col">Sections #</th>
                </tr>
                </thead>
                <tbody>
                <div th:if="${webPages.isEmpty()}">
                    <tr>
                        <td colspan="7">No pages found</td>
                    </tr>
                </div>
                <div class="my-3">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPage">
                        Add Page
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="addPage" tabindex="-1" aria-labelledby="addPageLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="addPageLabel">Add Page</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="callForIdeasEnabled">
                                            <label class="form-check-label" for="callForIdeasEnabled">
                                                enable <strong>Call for Ideas?</strong>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="activitiesEnabled">
                                            <label class="form-check-label" for="activitiesEnabled">
                                                enable <strong>Activities?</strong>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="newsItemsEnabled">
                                            <label class="form-check-label" for="newsItemsEnabled">
                                                enable <strong>News Items?</strong>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="actionPointsEnabled">
                                            <label class="form-check-label" for="actionPointsEnabled">
                                                enable <strong>Action Points?</strong>
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="" id="electionInformationEnabled">
                                            <label class="form-check-label" for="electionInformationEnabled">
                                                enable <strong>Election Infopage?</strong>
                                            </label>
                                        </div>
                                        <label for="title" class="form-label my-2">Title</label>
                                        <input type="text" name="title" id="title" class="col-12 mb-2">
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary" onclick="addPage()">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <tr th:each="page : ${webPages}">
                    <th scope="row" th:text="${page.id}"></th>
                    <td th:text="${page.title}"></td>
                    <td>
                        <ion-icon th:if="${page.callForIdeasEnabled}" name="checkmark-outline" size="large"></ion-icon>
                        <ion-icon th:unless="${page.callForIdeasEnabled}" name="close-outline" size="large"></ion-icon>
                    </td>

                    <td>
                        <ion-icon th:if="${page.activitiesEnabled}" name="checkmark-outline" size="large"></ion-icon>
                        <ion-icon th:unless="${page.activitiesEnabled}" name="close-outline" size="large"></ion-icon>
                    </td>

                    <td>
                        <ion-icon th:if="${page.newsItemsEnabled}" name="checkmark-outline" size="large"></ion-icon>
                        <ion-icon th:unless="${page.newsItemsEnabled}" name="close-outline" size="large"></ion-icon>
                    </td>

                    <td>
                        <ion-icon th:if="${page.electionInformationEnabled}" name="checkmark-outline" size="large"></ion-icon>
                        <ion-icon th:unless="${page.electionInformationEnabled}" name="close-outline" size="large"></ion-icon>
                    </td>
                    <td th:text="${page.sections.size()}"></td>
                    <td>
                        <a th:href="@{/dashboard/webpages/{id}(id=${page.id})}" class="btn btn-primary">
                            <ion-icon name="create-outline" size="large"></ion-icon>
                        </a>
                    </td>
                </tr>

                </tbody>
            </table>
    </main>
</div>
<div th:replace="~{fragments/ga-footer::general-admin-footer}"></div>
</body>
</html>