<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Manage account')"/>
    <script defer th:src="@{/js/idea.js}"></script>
    <script defer th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>
<body class="d-flex h-100 text-left">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column top bg-none">
    <div th:include="fragments/header :: header(page='NONE')"
         class="d-flex flex-row justify-content-between sticky-top rounded p-3"></div>

    <main class="container h-100 min-vh-100">
        <div class="container py-5">
            <div class="row">
                <!--        USER INFO-->
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="p-5 d-flex flex-row align-self-center">
                            <div class="col p-3">
                            <svg
                                    class="bi bi-person-circle"
                                    fill="currentColor"
                                    height="32"
                                    style="width: 100px; height: 100px"
                                    viewBox="0 0 16 16"
                                    width="32"
                                    xmlns="http://www.w3.org/2000/svg"
                            >
                                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                <path
                                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                                        fill-rule="evenodd"
                                />
                            </svg>
                            </div>
                            <div class="d-flex flex-column m-5" th:id="'idea_' + ${idea.getAuthor().id}">
                                <h1 th:text="${idea.getAuthor().username}"></h1>
                                <div class="m-3">
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0">First name: <span class="text-muted"
                                                                              th:text="${idea.getAuthor().firstName}"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0">Last name: <span class="text-muted"
                                                                             th:text="${idea.getAuthor().lastName}"></span>
                                            </p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0">Email: <span class="text-muted"
                                                                         th:text="${idea.getAuthor().email}"></span></p>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col">
                                            <p class="mb-0">Postcode: <span class="text-muted"
                                                                            th:text="${idea.getAuthor().postCode}"></span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- USER'S IDEAS-->
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="p-5 d-flex flex-column align-self-center">
                            <div class="m-2">
                                <h2><span th:text="${idea.getAuthor().username}"></span>'s ideas</h2>
                            </div>

                            <div class="card p-4 mb-2">
                                <div class="d-flex justify-content-between align-items-center" th:each="idea : ${idea}">
                                    <div class="user d-flex flex-row align-items-center">
                                    <span th:text="${idea.description}"> <small
                                            class="font-weight-bold"></small> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
