<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="general-admin-sidebar">
    <div class="l-navbar bg-dark" id="nav-bar">
        <nav class="nav">
            <div>
                <a class="nav_logo" th:href="@{/}">
                    <i class="bi bi-house"></i>
                    <span class="nav_logo-name">Flanders Youth</span>
                </a>
                <div class="nav_list" id="sidebar_content">
                    <a class="nav_link" id="home" style="display: block;" th:href="@{/dashboard/platforms}">
                        <i class="bi bi-hdd-rack"></i>
                        <span class="nav_name" style="visibility: hidden;">Platforms</span>
                    </a>
                    <a class="nav_link" id="callForIdeas" style="display: block;" th:href="@{/dashboard/themes}">
                        <i class="bi bi-columns-gap"></i>
                        <span class="nav_name" style="visibility: hidden;">Themes</span>
                    </a>
                    <a class="nav_link" id="actionPoints" style="display: block;"
                       th:href="@{/dashboard/page-templates}">
                        <i class="bi bi-file-earmark"></i>
                        <span class="nav_name" style="visibility: hidden;">Page Templates</span>
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div class="mb-5"></div>
</div>
</body>
</html>