<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div th:fragment="youth-council-sidebar">
    <div class="l-navbar bg-dark" id="nav-bar">
        <nav class="nav">
            <div>
                <a class="nav_logo" th:href="@{/dashboard}">
                    <i class="bi bi-house"></i>
                    <span class="nav_logo-name">Admin Dashboard</span>
                </a>
                <div class="nav_list" id="sidebar_content">
                    <a class="nav_link" id="home" style="display: block;" th:href="@{/dashboard/manage-content}">
                        <i class="bi bi-gear"></i>
                        <span class="nav_name" style="visibility: hidden;">Manage Content</span>
                    </a>
                    <a class="nav_link" id="users" style="display: block;" th:href="@{/dashboard/users}">
                        <i class="bi bi-people"></i>
                        <span class="nav_name" style="visibility: hidden;">Users</span>
                    </a>
                    <a class="nav_link" id="pages" style="display: block;" th:href="@{/dashboard/pages}">
                        <i class="bi bi-file-earmark"></i>
                        <span class="nav_name" style="visibility: hidden;">Pages</span>
                    </a>
                    <a class="nav_link" id="social-media" style="display: block;" th:href="@{/dashboard/social-media}">
                        <i class="bi bi-link-45deg"></i>
                        <span class="nav_name" style="visibility: hidden;">Pages</span>
                    </a>

                </div>
            </div>
        </nav>
    </div>
    <div class="mb-5"></div>
</div>
</body>
</html>
