/*when screen is smaller than 723 pixels add a margin of 10px to all elements of class short-stats*/
@media screen and (max-width: 723px) {
    .short-stats > div {
        margin-bottom: 10px;
    }
}

.dashboard{
    width: 90%;
}

.dashboard .filter {
    position: absolute;
    right: 15px;
    top: 15px;
}

.dashboard .filter .icon {
    color: #aab7cf;
    transition: 0.3s;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
    color: #4154f1;
}

.graph{
    height: 300px;
}
