/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */

.carousel-item > img {
    object-fit: cover;
    width: 90%;
}

.active::before {
    display: none;
}


@media screen and (max-width: 1050px) {
    .date-time {
        display: none !important;
    }
}

.textarea {
    resize: both;
    min-height: 40px;
    line-height: 20px;
}

.textarea[contenteditable]:empty::before {
    content: "Add a Comment...";
    color: gray;
}
