/*Info page starts here*/
.bg-light-pink {
    background-color: #f6c3cb;
}

.bg-pink-1 {
    background-color: pink;
}

.bg-pink-2 {
    background-color: #f6a2ae;
}

.bg-pink-3 {
    background-color: #f38491;
}

.bg-pink-4 {
    background-color: #e8667c;
}

/* Info page ends here*/

.transformable {
    transition: transform 0.3s ease;
}

.transformable:hover {
    transform: scale(1.04);
}