body {
    background-color: #f1f1f1;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
    height: 100vh;
}

.login-box {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    padding: 20px;
    width: 90%;
    max-width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="email"] ,input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;
}

input[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 45%;

}

.buttons {
    display: flex;
    justify-content: space-between;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

/*.error {*/
/*    color: red;*/
/*    font-size: 12px;*/
/*    margin-top: -10px;*/
/*    margin-bottom: 10px;*/
/*}*/

.rememberMe {
    display: flex;
    justify-content: space-between;
}

.social-login {
    margin-top: 30px;
    text-align: center;
}

.social-login p {
    margin-bottom: 15px;
    font-size: 1.1rem;
    color: #333;
}

.social-login a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}
