:root{
    --bj:#df4a43;
    --tc:#20b494;

    --primary-color: #181a1c;
    --header-height: 3rem;
    --nav-width: 68px;
    --first-color: #464647;
    --first-color-light: #b1b0b2;

    --light-pink: #f6c3cb;
    --pink: pink;
    --pink-3: #f38491;
    --pink-4: #e8667c;
    --pink-2: #f6a2ae;

    --white-color: #f7f6fb;
    --body-font: "Nunito", sans-serif;
    --normal-font-size: 1rem;
    --z-fixed: 100;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #36373b;
}

::-webkit-scrollbar-thumb {
    background: #181a1c;
}