div > p {
    font-size: 25px;
}

div > p > span {
    font-size: 15px;
}

#change {
    text-decoration: underline;
}

#delete {
    width: 30%;
}

#changePasswordInput {
    width: 30%;
    margin-left: 1vh;
}

#deleteButton {
    margin-bottom: 1vh;
    margin-left: 80%;
    background-color: transparent;
    border: transparent;
    color: black;
}
