main{
    text-align: left;
}

div>p>span{
    font-size: 15px;
}

div>p{
    font-size: 25px;
}

#change{
    border: transparent;
    background-color: transparent;
    width: 30%;
    text-align: left;
    margin-bottom: 0.5vh;
}

#delete{
    width: 30%;
    text-align: left;
}
