<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Action Points')"/>
    <script defer th:src="@{/js/sidebar.js}"></script>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body class="bg-light">
<div th:include="fragments/header :: header"></div>
<div th:include="fragments/sidebar :: sidebar(ycId=1)"></div>
<main class="height-100 bg-light pt-4">
    <div class="container">
        <div class="row mb-2">
        <div th:each="actionPoint : ${actionPoints}" class="col-md-6">
            <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
            >
                <div
                        class="col p-4 d-flex flex-column position-static"
                >
                    <h3 class="mb-0" th:text="${actionPoint.getTitle()}"></h3>
                    <div class="col d-flex gap-2">
                        <!--                                status-->
                        <div class="text-muted fs-6" th:text="${actionPoint.getStatus()}">Status</div>
                        <div class="text-muted fs-6">·</div>
                        <!--                                time-->
                        <div class="text-muted fs-6"
                             th:text="${#temporals.format(actionPoint.getDateAdded(), 'yyyy-MM-dd')}">Date
                            /Time</div>
                    </div>
                    <p class="card-text mb-5" th:text="${actionPoint.getDescription()}">
                    </p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img src="https://picsum.photos/200/250" alt="Section Image"/>
                </div>
            </div>
        </div>
            <div class="container">
                <a th:href="@{/youth-councils/1/action-points/submit}">
                    <button class="btn btn-success lg-rounded shadow position-absolute bottom-0 end-0 mb-5 me-5">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                             stroke="white" width="48" height="48">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
                        </svg>
                    </button>
                </a>
            </div>
    </div>
        </div>
</main>
</body>
</html>