<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Platforms</title>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Admin-Dashboard')"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
    <script defer th:src="@{/js/forms/add_platform.js}"></script>
    <script defer th:src="@{/js/sidebar.js}"></script>
</head>
<body class="bg-light">
<div th:include="fragments/ga-header :: general-admin-header"></div>
<div th:include="fragments/ga-sidebar :: general-admin-sidebar"></div>
<div class="bg-light pt-4">
    <main id="main" class="main">
        <div class="d-flex justify-content-center align-content-center">
            <section class="dashboard">
                <div class="col-12">
                    <div class="card recent-sales overflow-auto">
                        <div class="card-body">
                            <h5 class="card-title">Youth Council Platforms</h5>
                            <table class="table table-borderless datatable">
                                <thead>
                                <tr>
                                    <th scope="col">ID</th>
                                    <th scope="col">Logo</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Municipality</th>
                                    <th scope="col">User Count</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="youthCouncil : ${youthCouncils}" data-bs-toggle="modal" data-bs-target="#YCAdminsModal" class="table-row">
                                    <td class="text-primary" th:text="${youthCouncil.getId()}"></td>
                                    <td><img  class="yc-logo" th:src="'data:image/jpeg;base64,' + ${youthCouncil.getLogo()}"></td>
                                    <td class="text-primary" th:text="${youthCouncil.getName()}"></td>
                                    <td class="text-primary" th:text="${youthCouncil.getMunicipalityName()}"></td>
                                    <td class="text-primary" th:text="${youthCouncil.getNumberOfUsers()}"></td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- YC Admins Modal -->
                            <div class="modal fade" id="YCAdminsModal" tabindex="-1">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Youth Council Admins</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <table class="table table-borderless datatable">
                                                <thead>
                                                <tr>
                                                    <th scope="col">Name</th>
                                                    <th scope="col">Email</th>
                                                    <th scope="col"></th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr data-href="#">
                                                    <td class="text-primary">Lars</td>
                                                    <td class="text-primary">Lars@Gmail.com</td>
                                                    <td class="text-primary">
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                    </td>
                                                </tr>
                                                <tr data-href="#">
                                                    <td class="text-primary">Lars</td>
                                                    <td class="text-primary">Lars@Gmail.com</td>
                                                    <td class="text-primary">
                                                        <button type="button" class="btn btn-danger">Delete</button>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="3" class="text-center">
                                                        <button type="button" class="btn btn-primary">Add youth council administrator</button>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- End YC Admins Modal-->
                        </div>
                    </div>
                </div>
                <div class="d-flex align-content-center justify-content-center mt-4">
                    <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#create-platform-modal">Create Platform
                    </button>
                </div>
                <div class="modal fade" id="create-platform-modal" tabindex="-1"
                     aria-labelledby="idea-submission-modal-label" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5 text-center" id="idea-submission-modal-label">Create
                                    Platform</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form id="submitForm">
                                    <div class="form-group mb-3">
                                        <label for="yc-name">Youth Council Name</label>
                                        <input type="text" class="form-control" id="yc-name" name="name">
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="municipality">Municipality</label>
                                        <select class="form-control" id="municipality">
                                            <option value="antwerp">Antwerp</option>
                                            <option value="brussels">Brussels</option>
                                        </select>
                                    </div>
                                    <div class="form-group mb-2">
                                        <label for="logo">Add Logo</label>
                                        <input type="file" class="form-control" id="logo" name="logo" accept="image/*">
                                    </div>
                                    <div class="row justify-center">
                                        <div class="col-12">
                                            <header>
                                                <h6>Youth Council Admins</h6>
                                            </header>
                                        </div>
                                        <div class="col-12 mb-2">
                                            <ul class="list-group" id="yc-admin-emails">
                                            </ul>
                                        </div>
                                        <div class="input-group mb-3">
                                            <input id="new-email" type="text" class="form-control"
                                                   placeholder="Add an email address..." aria-label="Add an item"
                                                   aria-describedby="basic-addon2">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" id="enter" type="button">Add
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="yc-subdomain">Youth Council Subdomain</label>
                                        <input type="text" class="form-control" id="yc-subdomain" name="name">
                                    </div>
                                    <div class="form-group mt-3 mb-5 d-flex align-items-center justify-content-center">
                                        <a id="submit_youth_council" class="btn btn-primary">Create</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </main>
</div>
<div th:replace="~{fragments/ga-footer::general-admin-footer}"></div>
</body>
</html>