<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link"/>
</head>

<body>
<div th:replace="fragments/sidebar :: sidebar"></div>

<!-- Main Content -->
<div class="container mt-4">
    <h1>Welcome to My Website</h1>
    <p class="lead">This is a sample page</p>
    <a th:href="@{/youth-councils/1}"><button class="btn btn-primary">Youth Councils</button></a>
    <a th:href="@{/youth-councils/1/ideas}"><button class="btn btn-primary">Youth Council Ideas</button></a>
    <a th:href="@{/youth-councils/1/action-points}"><button class="btn btn-primary">Youth Council Action Points</button></a>
</div>

</body>

</html>
