<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Youth Council Platform')"></thymeleaf>
    <script defer th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
</head>

<body class="d-flex h-100 text-center bg-dark">
<div class="d-flex w-100 p-3 mx-auto flex-column top">

    <div th:include="fragments/header :: header(page='INFO')"
         class="mb-auto d-flex flex-row justify-content-between sticky-top rounded p-3"></div>

    <main class="px-3">
        <div
                class="d-flex justify-content-center align-items-center text-light my-2"
                id="home"
        >
            <h1 class="animate-title display-2 h-100 p-2">Informative Pages</h1>
        </div>

        <section class="hidden">
            <div
                    class="mb-4 mx-auto mt-5 d-flex flex-wrap justify-content-center align-items-center col-8"
            >
                <div th:each="webpage : ${webPages}">
                    <a th:href="@{/info-pages/{id}(id=${webpage.getId()})}">

                        <button class="btn btn-light rounded-3 p-3 m-3" th:text="${webpage.title}"></button>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <div class="mt-auto" th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
