<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org"
>
<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Youth Council Platform')"></thymeleaf>
    <script defer th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>

<body class="d-flex h-100 text-center bg-dark">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column top">

    <div th:include="fragments/header :: header(page='INFO')"
         class="mb-auto d-flex flex-row justify-content-between sticky-top rounded p-3"></div>

    <main class="px-3">
        <div
                class="d-flex justify-content-center align-items-center text-light mt-0"
                id="home"
        >
            <h1 class="animate-title display-1" th:text="${webPage.getTitle()}"></h1>
        </div>
        <section class="hidden" id="about-us">
            <div class="p-5 mb-4 d-flex flex-column justify-content-center align-items-center">
                <div class="container-fluid bg-light rounded-3 my-2" th:each="section : ${sections}">
                    <div class="container-fluid col-md-6">
                        <h1 class="fw-bold text-dark display-1 " th:text="${section.getHeading()}"></h1>
                        <p class="fs-4 text-dark text-left" th:text="${section.getBody()}">
                            Section description
                        </p>
                    </div>
                    <div class="h-100" th:if="${section.getImage()!=null}">
                        <img
                                alt="Image Not Found!"
                                class='object-fit-cover '
                                th:src="${'data:image/jpeg;base64,' + section.getImage()}"
                        />
                    </div>
                </div>
            </div>
        </section>
        <section class="row align-items-md-stretch justify-content-center">
            <div class="col-md-4 my-2">
                <div class="p-4 rounded-3 text-center bg-light-pink">
                    <i class="bi bi-lightbulb-fill fs-1 mb-3"></i>
                    <h2 class="h5 fw-bold text-dark mb-3">
                        Call For Ideas!
                    </h2>
                    <p class="fs-6 text-dark mb-4">
                        Make a difference in your community! Submit your ideas <a class="text-decoration-none" href="/ideas">here</a>
                    </p>
                    <button class="btn btn-primary" type="button">Here</button>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="p-4 rounded-3 text-center bg-pink-1" >
                    <i class="bi bi-check-square-fill fs-1 mb-3"></i>
                    <h2 class="h5 fw-bold text-dark mb-3">
                        Action Points
                    </h2>
                    <p class="fs-6 text-dark mb-4">
                        Looking for something to do? Check out our action points <a class="text-decoration-none" href="/action-points">here</a>
                    </p>
                    <button class="btn btn-primary" type="button">Here</button>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="p-4 rounded-3 text-center bg-pink-2">
                    <i class="bi bi-people-fill fs-1 mb-3"></i>
                    <h2 class="h5 fw-bold text-dark mb-3">
                        Activities
                    </h2>
                    <p class="fs-6 text-dark mb-4">
                        Engage with your community by participating in our activities <a class="text-decoration-none" href="/activities">here</a>
                    </p>
                    <button class="btn btn-primary" type="button">Here</button>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="p-4 rounded-3 text-center bg-pink-3">
                    <i class="bi bi-info-circle-fill fs-1 mb-3"></i>
                    <h2 class="h5 fw-bold text-dark mb-3">
                        Election Information
                    </h2>
                    <p class="fs-6 text-dark mb-4">
                        Elections are coming up! Check out our election information <a class="text-decoration-none" href="/elections">here</a>
                    </p>
                    <button class="btn btn-primary" type="button">Here</button>
                </div>
            </div>
            <div class="col-md-4 my-2">
                <div class="p-4 rounded-3 text-center bg-pink-4">
                    <i class="bi bi-newspaper fs-1 mb-3"></i>
                    <h2 class="h5 fw-bold text-dark mb-3">
                        News Items
                    </h2>
                    <p class="fs-6 text-dark mb-4">
                        Stay up to date with the latest news about our youth council <a class="text-decoration-none" href="/news">here</a>
                    </p>
                        <button class="btn btn-primary" type="button">Here</button>
                </div>
            </div>
        </section>
    </main>
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
