<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Log In')"></thymeleaf>
</head>
<body>
<div class="m-5 container-fluid pb-5">
    <h1 class="text-center">Log In</h1>
    <form th:action="@{/login}" method="POST">
        <div class="row justify-content-center">
            <div class="mb-3 col-3">
                <label class="form-label">Username</label>
                <input id="username" name="username" class="form-control" type='text'>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mb-3 col-3">
                <label class="form-label">Password</label>
                <input id="password" type="password" name="password" class="form-control"></input>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mb-3 col-3 text-center">
                <button class="btn btn-primary" type="submit">Log in</button>
            </div>
        </div>
    </form>
</div>
<div class="social-login">
    <p>Or sign up with:</p>
    <a href="#" class="google-btn"><i class="fab fa-google"></i> Google</a>
    <a href="#" class="facebook-btn"><i class="fab fa-facebook"></i> Facebook</a>
</div>
</div>
</div>
</body>
</html>