<!DOCTYPE html>
<html lang="en">
<head>
  <thymeleaf th:replace="fragments/meta :: meta_script_link('Action Points')"/>
  <script defer th:src="@{/js/sidebar.js}"></script>
  <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body class="bg-light">
<div th:include="fragments/header :: header"></div>
<div th:include="fragments/sidebar :: sidebar(ycId=1)"></div>
<div class="height-100 bg-light pt-4">
  <main class="container">
    <div class="container">
      <div class="row mb-2">
        <div th:each="newsItem : ${newsItems}" class="col-md-6">
          <!--            content-->
          <div
                  class="g-0 border rounded overflow-hidden mb-4 d-flex shadow-sm h-md-250 position-relative"
          >
            <div
                    class="col p-4 d-flex flex-column position-static"
            >
              <h3 class="mb-0" th:text="${newsItem.getTitle()}"></h3>
              <div class="col d-flex gap-2">
                <!--                                time-->
<!--                <div class="text-muted fs-6"-->
<!--                     th:text="${#temporals.format(newsItem.getDateAdded(), 'yyyy-MM-dd')}">Date-->
<!--                  /Time</div>-->
              </div>
              <p class="card-text mb-5" th:text="${newsItem.getContent()}">
              </p>
            </div>
            <!--                    end content-->
            <!--            image-->
            <div class="col-auto d-none d-lg-flex">
              <img src="https://picsum.photos/200/250" alt="Section Image"/>
            </div>
            <!--            end image-->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
</html>
