<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Manage account')"/>
    <script defer th:src="@{/js/user.js}"></script>
    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body class="bg-light">
<div th:include="fragments/header :: header(page='NONE')"
     class="mb-auto d-flex flex-row justify-content-between sticky-top rounded p-3"></div>

<main>
    <table class="table table-borderless datatable">
        <thead>
        <tr>
            <th scope="col">First name</th>
            <th scope="col">Last name</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Postcode</th>
            <th scope="col">Password</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="text-primary" th:text="${user.getFirstName()}"></td>
            <td class="text-primary" th:text="${user.getLastName()}"></td>
            <td class="text-primary" th:text="${user.getUsername()}"></td>
            <td class="text-primary" th:text="${user.getEmail()}"></td>
            <td class="text-primary" th:text="${user.getPostCode()}"></td>
            <td>
                <input type="text" th:value="${user.getPassword()}" class="form-control">
            </td>
            <td>
                <button type="button" class="btn btn-primary">Save</button>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-danger">Delete account</button>
</main>

<div th:include="fragments/modules-footer :: footer"></div>
</body>
</html>
