<!DOCTYPE html>
<html
        lang="en"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf
            th:replace="fragments/meta :: meta_script_link('Youth Council Platform')"></thymeleaf>
    <script
            defer
            th:src="@{/js/index.js}"></script>
    <link
            rel="stylesheet"
            th:href="@{/css/index.css}"/>
    <script defer th:src="@{/js/entities/interact_with_entity.js}"></script>
    <script defer th:src="@{/js/forms/add_activity.js}"></script>
    <script defer th:src="@{/js/delete/delete_activity.js}" type="module"></script>
</head>

<body class="d-flex h-100 text-center bg-dark">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column top">

    <div th:include="fragments/header :: header(page='NONE')"
         class="mb-auto d-flex flex-row justify-content-between sticky-top rounded p-3"></div>

    <div class="h-100">
        <main class="container h-100">
            <div class="container h-100">
                <div
                        class="d-flex justify-content-center align-items-center text-light my-2"
                        id="home">
                    <h1 class="animate-title display-2 h-100 p-2">Activities</h1>
                </div>
                <div class="row mb-2 mt-4 " id="event-list">
                    <div class="bg-light event shadow rounded-3 mt-2 mb-2 position-relative" th:each="activity : ${activities}" th:attr="data-activity-id=${activity.id}">
                        <div class="container-fluid py-3 row">
                            <div class="date-container rounded text-center col-3">
                                <div class="start-date row">
                                <span class="bg-dark text-white rounded-top fs-6"
                                      th:text="${activity.getStartDate().getMonth()}"></span>
                                    <span class="bg-dark bg-opacity-10 rounded-bottom  fs-6"
                                          th:text="${activity.getStartDate().getDayOfMonth()}"></span>
                                </div>
                            </div>
                            <div class="col-9">
                                <div class="row">
                                    <h3 class="text-uppercase">
                                        <strong th:text="${activity.getName()}"></strong>
                                    </h3>
                                    <hr class="ms-3"/>
                                    <!--            start date -->
                                    <span>
                            <span class="text-muted date">
                                <small>
                                    Start: <span th:text="${activity.getStartDate()}"></span>
                                </small>
                            </span>
                        </span>
                                    <!--            end date -->
                                    <span>
                            <span class="text-muted date">
                                <small>
                                    End: <span th:text="${activity.getEndDate()}"></span>
                                </small>
                            </span>
                        </span>
                                    <span th:text="${activity.getDescription()}"></span>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-danger m-1 position-absolute end-0 top-0 delete-activity"
                                sec:authorize="hasRole('ROLE_YOUTH_COUNCIL_ADMINISTRATOR') or hasRole('ROLE_YOUTH_COUNCIL_MODERATOR')"
                        >
                            <i class="bi bi-trash-fill"></i>
                        </button>
                    </div>
                </div>

            </div>
            <div class="container sticky-bottom">
                <button
                        class="btn btn-success lg-rounded shadow position-absolute bottom-0 end-0 mb-5 me-5"
                        data-bs-target="#create-activity-modal" data-bs-toggle="modal"
                >
                    <svg
                            fill="none"
                            height="48"
                            stroke="white"
                            stroke-width="1.5"
                            viewBox="0 0 24 24"
                            width="48"
                            xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                                d="M12 4.5v15m7.5-7.5h-15"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                        />
                    </svg>
                </button>
            </div>
        </main>
        <div aria-hidden="true" aria-labelledby="activity-submission-modal-label" class="modal fade"
             id="create-activity-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-center" id="activity-submission-modal-label">Create
                            Activity</h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal"
                                type="button"></button>
                    </div>
                    <div class="modal-body">
                        <form id="submitForm" novalidate class="needs-validation">
                            <div class="form-group mb-3">
                                <label for="name">Name</label>
                                <input required class="form-control" id="name" name="name" type="text">
                            </div>
                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <input required class="form-control" id="description" name="description" type="text">
                            </div>
                            <div class="form-group mb-3">
                                <label for="start-date-time">Start Date</label>
                                <input required id="start-date-time" name="startDate" type="datetime-local">
                            </div>
                            <div class="form-group mb-3">
                                <label for="end-date-time">End Date</label>
                                <input required id="end-date-time" name="endDate" type="datetime-local">
                            </div>
                            <div class="form-group mt-3 mb-5 d-flex align-items-center justify-content-center">
                                <button type="submit" class="btn btn-primary" id="submit-activity">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
