<!DOCTYPE html>
<html
        lang="en"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf
            th:replace="fragments/meta :: meta_script_link('Youth Council Platform')"></thymeleaf>
    <script
            defer
            th:src="@{/js/index.js}"></script>
    <link
            rel="stylesheet"
            th:href="@{/css/index.css}"/>
    <script defer th:src="@{/js/entities/interact_with_entity.js}"></script>
</head>

<body class="d-flex h-100 bg-dark">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column top">

    <div class="mb-auto d-flex flex-row justify-content-between sticky-top rounded p-3"
         th:include="fragments/header :: header(page='NONE')"></div>

    <main class="container h-100">
        <div class="d-flex justify-content-center align-items-center text-light my-2" id="home">
            <h1 class="animate-title display-2 h-100 p-2">Election dashboard</h1>
        </div>
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col-md-6" th:each="election : ${elections}">
                <div class="card bg-light text-black rounded-3 h-100">
                    <div class="card-body">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h5 class="card-title" th:text="${election.getTitle()}"></h5>
                            <button class="btn btn-primary btn-sm disabled" th:if="${election.isActive()}">Active
                            </button>
                            <button class="btn btn-secondary btn-sm disabled" th:if="${!election.isActive()}">Inactive
                            </button>
                        </div>
                        <ul class="list-unstyled mb-0">
                            <li><i class="bi bi-calendar-date-fill"></i> <span
                                    th:text="${election.getStartDate()}"></span> - <span
                                    th:text="${election.getEndDate()}"></span></li>
                            <li><i class="bi bi-clock"></i> <span th:text="${election.getStartTime()}"></span> - <span
                                    th:text="${election.getEndTime()}"></span></li>
                            <li><i class="bi bi-geo-alt-fill"></i> <span th:text="${election.getLocation()}"></span>
                            </li>
                            <li><i class="bi bi-card-text"></i> <span th:text="${election.getDescription()}"></span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!--			END ADD BUTTON-->
    <div th:include="fragments/footer :: footer"></div>
</div>
</body>
</html>
