<!DOCTYPE html>
<html lang="en">
<head>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Action Points')"/>

    <link rel="stylesheet" th:href="@{/css/global.css}"/>
</head>
<body class="bg-light">
<div th:include="fragments/header :: header"></div>

<div class="h-100 bg-light pt-4">
    <main class="container h-100 min-vh-100">
        <div>
            this is a dashboard for election info
        </div>
    </main>
    <div th:include="fragments/modules-footer :: footer"></div>
</div>

</body>
</html>
