<!DOCTYPE html>
<html
        lang="en"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
        xmlns:th="http://www.thymeleaf.org">
<head>
    <thymeleaf
            th:replace="fragments/meta :: meta_script_link('Youth Council Platform')"></thymeleaf>
    <script
            defer
            th:src="@{/js/index.js}"></script>
    <link
            rel="stylesheet"
            th:href="@{/css/index.css}"/>
    <link
            rel="stylesheet"
            th:href="@{/css/ideas.css}"/>
    <script defer th:src="@{/js/forms/add_idea.js}" type="module"></script>
    <script defer th:src="@{/js/entities/interact_with_entity.js}"></script>
    <script defer th:src="@{/js/common/search.js}" type="module"></script>
    <script defer th:src="@{/js/delete/delete_ideas_comment.js}" type="module"></script>
    <script defer th:src="@{/js/delete/delete_idea.js}" type="module"></script>
</head>

<body class="d-flex h-100 text-center">
<div class="d-flex w-100 h-100 p-3 mx-auto flex-column top">
    <div class="d-flex flex-row justify-content-between sticky-top rounded p-3"
         th:include="fragments/header :: header(page='NONE')"></div>

    <main class="px-3 d-flex flex-column h-100">
        <div
                class="d-flex flex-column justify-content-center align-items-center text-light my-2"
                id="home">
            <h1 class="animate-title display-2 h-100 p-2">Ideas</h1>
            <div class="input-group rounded w-50 d-flex justify-between align-items-end m-4">
                <input aria-describedby="search-addon" aria-label="Search"
                       class="form-control rounded border border-white"
                       id="searchBar"
                       placeholder="Search" type="search"/>
                <span class="bg-transparent text-white m-2">
                    <i class="bi bi-search"></i>
                </span>
            </div>
        </div>
        <div class="d-flex flex-column flex-lg-wrap justify-content-around">

            <div class="bg-light mx-auto my-5 rounded-3 flex-column text-black w-50 position-relative"
                 id="container" th:attr="data-idea-id=${idea.id}" th:each="idea : ${ideas}">
                <!--					HEADER-->
                <section class="py-3 d-flex flex-column text-start position-relative">
                    <div>
                        <h3 class="mx-3">Idea</h3>
                    </div>
                    <div class="d-flex flex-column flex-lg-row justify-content-between ">
							<span class="mx-3 text-uppercase fw-bolder text-primary" th:text="${idea.getTheme()}">Theme
							</span>
                        <div
                                class="mx-1 px-2 d-flex flex-column flex-lg-row justify-content-end col-lg-8">
                            <div class="d-flex flex-row">
                                <i class="bi bi-person text-black"></i>
                                <p
                                        th:text="${idea.getAuthor()}"></p>
                            </div>
                            <div class="mx-2">
                                <i class="bi bi-clock-history text-black"></i>
                                <span th:text="${#temporals.format(idea.getDateAdded(), 'yyyy-MM-dd HH:mm')}"></span>
                            </div>
                        </div>
                    </div>
                    <a class="stretched-link" th:href="@{ideas/{ideaId}(ideaId=${idea.getId()})}"></a>
                </section>
                <!--					END HEADER-->
                <!--					BODY-->
                <section class="p-3">
                    <div class="m-2">
                        <span class="text-left" th:text="${idea.getDescription()}"></span>
                    </div>
                    <!--						IMAGE -->
                    <div>
                        <div class="col-auto d-none d-lg-block">
                            <div
                                    class="carousel slide"
                                    data-bs-ride="carousel"
                                    th:attr="id='myCarousel' + ${idea.getId()}"
                            >
                                <div class="carousel-indicators" th:if="${idea.getImages().size() >1}">
                                    <button th:aria-current="${iterstat.index}== 0"
                                            th:aria-label="'Slide ' + ${iterstat.index + 1}"
                                            th:attr="data-bs-target='#myCarousel' + ${idea.getId()}"
                                            th:class="${iterstat.index}== 0  ? 'active':''"
                                            th:data-bs-slide-to="${iterstat.index}"
                                            th:each="image, iterstat : ${idea.getImages()}"
                                            type="button"
                                    ></button>
                                </div>
                                <div class="carousel-inner">
                                    <div th:class="${iterstat.index}== 0  ? 'carousel-item active':'carousel-item'"
                                         th:each="image, iterstat : ${idea.getImages()}">
                                        <img
                                                alt="img"
                                                class="object-fit-cover"
                                                th:src="'data:image/jpeg;base64,' + ${image}"/>
                                    </div>
                                </div>
                                <button
                                        class="carousel-control-prev"
                                        data-bs-slide="prev"
                                        th:attr="data-bs-target='#myCarousel' + ${idea.getId()}"
                                        th:if="${idea.getImages().size() >1}"
                                        type="button"
                                >
                                            <span
                                                    aria-hidden="true"
                                                    class="carousel-control-prev-icon"
                                            ></span>
                                    <span class="visually-hidden"
                                    >Previous</span
                                    >
                                </button>
                                <button
                                        class="carousel-control-next"
                                        data-bs-slide="next"
                                        th:attr="data-bs-target='#myCarousel' + ${idea.getId()}"
                                        th:if="${idea.getImages().size() >1}"
                                        type="button"
                                >
                                            <span
                                                    aria-hidden="true"
                                                    class="carousel-control-next-icon"
                                            ></span>
                                    <span class="visually-hidden"
                                    >Next</span
                                    >
                                </button>
                            </div>
                        </div>
                    </div>
                    <!--						IMAGE -->
                </section>
                <!--					END BODY-->
                <!--					ACTIONS-->
                <section class="p-3">
                    <div>
                        <div class="d-flex flex-row gap-3">
                            <!--                                like button-->
                            <div
                                    class="d-flex flex-row align-items-center"
                                    role="button"
                                    th:attr="onclick=|toggleLike(${idea.getId()},'ideas')|"
                                    th:id="|like-container-${idea.getId()}|"
                            >

                                <svg
                                        class="transformable"
                                        height="24"
                                        th:style="|fill: ${idea.isLikedByUser() ? 'red' : 'black'}|"
                                        viewBox="0 0 24 24"
                                        width="24"
                                        xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                            d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z"
                                    ></path>
                                </svg>
                                <p class="small text-black mb-0"
                                   th:text="${idea.getNumberOfLikes()}"></p>
                            </div>
                            <!--                                end like button-->
                            <!--                                comment button-->

                            <div
                                    class="d-flex flex-row align-items-center transformable"
                            >
                                <button
                                        aria-expanded="true"
                                        class="btn btn-primary"
                                        data-bs-toggle="collapse"
                                        style="all: unset; cursor: pointer"
                                        th:attr="aria-controls='idea-' + ${idea.getId()} + '-comment-section'"
                                        th:data-bs-target="'#idea-' + ${idea.getId()} + '-comment-section'"
                                        type="button"
                                >
                                    <i class="bi bi-chat-left-fill text-black"></i>
                                </button>
                            </div>

                            <!--                                end comment button-->
                            <!--                                share button -->
                            <div
                                    class="d-flex flex-row align-items-center transformable"
                            >
                                <i class="bi bi-share-fill text-black"></i>
                            </div>
                            <!--                                end share button-->
                        </div>
                        <!--                                comments-->
                        <div
                                class="collapse mt-5"
                                th:attr="id='idea-' + ${idea.getId()} + '-comment-section'"
                        >
                            <!--                            comment submission form-->
                            <form
                                    action="#"
                                    class="form-floating mb-4 d-flex comment-form"
                                    th:attr="id='add-comment-idea-' + ${idea.getId()}"
                            >
                                <div class="w-100 mx-auto mb-3 d-flex">
                                    <span
                                            class="form-control bg-light border border-dark d-block text-black overflow-hidden textarea"
                                            contenteditable
                                            style="text-align:left;"
                                            th:attr="id='add-comment-' + ${idea.getId()}"
                                    >
                                    </span>
                                    <span class="input-group-text" id="basic-addon2"
                                          th:onclick="|addComment(${idea.getId()},'ideas')|">
                                        <button
                                                class="submit-comment"
                                                style="all: unset; cursor: pointer"
                                        >
                                      <i class="bi bi-send text-success border-dark"></i>
                                        </button>
                                    </span>
                                </div>
                            </form>
                            <!--                            comment submission form ends-->
                            <div
                                    class="fs-6 text-black d-flex flex-column gap-3"
                            >
                                <div class="card bg-light text-black"
                                     th:attr="id='idea-' + ${idea.getId()} + '-comment-' + ${comment.getId()}"
                                     th:each="comment : ${idea.getComments()}"
                                     th:id="${comment.getId()}">
                                    <div
                                            class="card-header d-flex justify-content-between"
                                    >
                                        <div
                                                class="d-flex align-items-center gap-3"
                                        >
                                            <i class="bi bi-person text-dark"></i>
                                            <span th:text="${comment.getAuthor()}"></span>
                                        </div>
                                        <div
                                                class="d-flex align-items-center gap-3"
                                        >
                                            <i class="bi bi-clock-history d-md-none d-sm-none d-lg-block"></i>
                                            <span class="date-time d-md-none d-sm-none d-lg-block"
                                                  th:text="${#temporals.format(comment.getCreatedDate(), 'yyyy-MM-dd HH:mm')}"></span>
                                        </div>
                                    </div>
                                    <div class="card-body d-flex gap-3">
                                        <span class="comment-content col" th:text="${comment.getContent()}"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <button
                        class="btn btn-danger delete-idea position-absolute end-0 top-0 m-2"
                        sec:authorize="hasRole('ROLE_YOUTH_COUNCIL_ADMINISTRATOR') or hasRole('ROLE_YOUTH_COUNCIL_MODERATOR')"
                >
                    <i class="bi bi-trash"></i>
                </button>
            </div>
        </div>
        <!--            thymeleaf end-->
        <!--			ADD BUTTON-->
        <div class="container sticky-bottom mt-5">
            <button
                    class="btn btn-success lg-rounded shadow position-absolute bottom-0 end-0 mb-5 me-5"
                    data-bs-target="#idea-submission-modal" data-bs-toggle="modal"
            >
                <svg
                        fill="none"
                        height="48"
                        stroke="white"
                        stroke-width="1.5"
                        viewBox="0 0 24 24"
                        width="48"
                        xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                            d="M12 4.5v15m7.5-7.5h-15"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                    />
                </svg>
            </button>
        </div>
        <!--			END ADD BUTTON-->
        <div aria-hidden="true" aria-labelledby="idea-submission-modal-label" class="modal fade"
             id="idea-submission-modal"
             tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5 text-center" id="idea-submission-modal-label">What's your idea?</h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                    </div>
                    <div class="modal-body">
                        <form id="submitForm" novalidate class="needs-validation">
                            <div class="form-group mb-3">
                                <label for="theme">Theme</label>
                                <select class="form-control" required id="theme">
                                    <option th:each="theme : ${themes}" th:text="${theme.name}"
                                            th:value="${theme.id}"></option>
                                </select>
                            </div>
                            <div class="form-group mb-3">
                                <label for="description">Description</label>
                                <textarea class="form-control" id="description" required
                                          th:placeholder="'What is your idea? Let us know...'"></textarea>
                            </div>
                            <div class="form-group mb-3">
                                <label for="idea-image">Upload up to 4 images</label>
                                <input accept="image/*" class="form-control" id="idea-image" multiple
                                       name="idea-image" required type="file">
                            </div>
                            <div class="form-group mt-3 mb-5 d-flex align-items-center justify-content-center">
                                <button type="submit" class="btn btn-primary " id="submit-idea">Submit your idea</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-auto" th:include="fragments/footer :: footer"></div>
    </main>
</div>

</body>
</html>
