<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <thymeleaf th:replace="fragments/meta :: meta_script_link('News Items')"/>
  <script defer th:src="@{/js/sidebar.js}"></script>
  <script defer th:src="@{/js/forms/add_news_item.js}"></script>
  <link rel="stylesheet" th:href="@{/css/global.css}"/>
  <script defer th:src="@{/js/entities/interact_with_entity.js}"></script>
</head>
<body class="bg-light">
<div th:include="fragments/header :: header"></div>
<div th:include="fragments/sidebar :: sidebar(ycId=1)"></div>
<div>
  <main class="container d-flex justify-content-center">
    <div class="container">
      <div class="row mb-2 mt-4 height-100">
        <div th:each="newsItem : ${newsItems}" class="col-md-6">
          <!--            content-->
          <div
                  class="g-0 border rounded overflow-hidden mb-4 d-flex shadow-sm h-md-250 position-relative"
          >
            <div
                    class="col p-4 d-flex flex-column position-static"
            >
              <h3 class="mb-0" th:text="${newsItem.getTitle()}"></h3>
              <div class="col d-flex gap-2">
                <!--                                time-->
                <div class="text-muted fs-6"
                     th:text="${#temporals.format(newsItem.getDateAdded(), 'yyyy-MM-dd')}">Date
                  /Time
                </div>
              </div>
              <p class="card-text mb-5" th:text="${newsItem.getContent()}">
              </p>
              <div class="d-flex flex-row gap-3">
                <!--                                like button-->
                <div
                        class="d-flex flex-row align-items-center"
                        th:attr="onclick=|toggleLike(${newsItem.getId()},'news-items')|"
                        role="button"
                        th:id="|like-container-${newsItem.getId()}|"
                >
                  <svg
                          xmlns="http://www.w3.org/2000/svg"
                          width="24"
                          height="24"
                          viewBox="0 0 24 24"
                          th:style="|fill: ${newsItem.isLikedByUser() ? 'red' : 'black'}|"
                          class="transformable"
                  >
                    <path
                            d="M20.205 4.791a5.938 5.938 0 0 0-4.209-1.754A5.906 5.906 0 0 0 12 4.595a5.904 5.904 0 0 0-3.996-1.558 5.942 5.942 0 0 0-4.213 1.758c-2.353 2.363-2.352 6.059.002 8.412L12 21.414l8.207-8.207c2.354-2.353 2.355-6.049-.002-8.416z"
                    ></path>
                  </svg>
                  <p class="small text-muted mb-0"
                     th:text="${newsItem.getNumberOfLikes()}"></p>
                </div>
                <!--                                end like button-->
              </div>
            </div>
            <!--                    end content-->
            <!--            image-->
            <div class="col-auto d-none d-lg-flex">
              <img src="https://picsum.photos/200/250" alt="Section Image"/>
            </div>
            <!--            end image-->
          </div>
        </div>
        <!--            thymeleaf end-->
        <div class="container sticky-bottom">
          <button
                  class="btn btn-success lg-rounded shadow position-absolute bottom-0 end-0 mb-5 me-5" data-bs-toggle="modal" data-bs-target="#create-news-item-modal"
          >
            <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="white"
                    width="48"
                    height="48"
            >
              <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      d="M12 4.5v15m7.5-7.5h-15"
              />
            </svg>
          </button>
        </div>
        <div class="modal fade" id="create-news-item-modal" tabindex="-1"
             aria-labelledby="news-item-submission-modal-label" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5 text-center" id="news-item-submission-modal-label">Create
                  News Item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal"
                        aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="submitForm">
                  <div class="form-group mb-3">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title">
                  </div>
                  <div class="form-group mb-3">
                    <label for="content">Content</label>
                    <input type="text" class="form-control" id="content" name="content">
                  </div>
                  <div class="form-group mb-3">
                    <label for="image">Image</label>
                    <input type="file" class="form-control" id="image" name="image" accept="image/*">
                  </div>
                  <div class="form-group mt-3 mb-5 d-flex align-items-center justify-content-center">
                    <a id="submit-news-item" class="btn btn-primary">Create</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<div th:include="fragments/modules-footer :: footer"></div>
</body>
</html>
