<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Platforms</title>
    <thymeleaf th:replace="fragments/meta :: meta_script_link('Admin-Dashboard')"/>
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
<link rel="stylesheet" th:href="@{/css/sidebar.css}"/>
    <script defer th:src="@{/js/forms/add_platform.js}"></script>
    <script defer th:src="@{/js/sidebar.js}"></script>
</head>
<body class="bg-light">
<div th:include="fragments/ga-header :: general-admin-header"></div>
<div th:include="fragments/ga-sidebar :: general-admin-sidebar"></div>
<div class="bg-light pt-4">
    <main class="main" id="main">
        <div class="d-flex justify-content-center align-content-center">
            <section class="dashboard min-vh-100">
            </section>
        </div>
    </main>
</div>
<div th:replace="~{fragments/ga-footer::general-admin-footer}"></div>
</body>
</html>